.desktopItemsMenuContainer{
  display:grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 70px 100px 100px 1fr auto;
  grid-template-areas: "logo menuItem1 menuItem2 . logOutLink";  
}

.menuItem1{
  grid-area: menuItem1;
}

.menuItem2{
  grid-area: menuItem2;
}

.locoContainer{
  display: flex;
  width: 70px;
  height: 56px;
  justify-content: center;
  align-items: center;
  grid-area: logo;
}

.logoDesktop{  
  width: 50px;
  height: 50px;
}

.menuOptions{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c2c2c2
}

.loginHeaderLabelDesktop{  
  position: block;  
  margin: auto; 
  color: #c2c2c2;
  font-weight: 400;
  cursor: pointer;
  grid-area: logOutLink;
}