.containerStyles {
  min-height: calc(100vh - 160px);
  padding: 86px 0 50px 0;
}

.spinner {
  width: 40px;
  height: 40px;
  color: #f5e101;
}

.alertText {
  overflow-y: hidden;
  text-align: center;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


@media screen and (min-width: 1050px) {
  .containerStyles {
    min-height: calc(100vh - 60px);    
  }
}

