.loginContainer{  
  padding: 0 20px;
  width: 100%;
  height: calc(100vh - 160px);  
}

.brandingContainerLogo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;  
  width: fit-content;
  margin: 0 auto;
  padding-top: 20px;
}

.brandingTitleLogo{
  font-family: Montserrat;
  font-size: 36px;
  color: #505050; 
}

.greetingsLogin{
  height: fit-content;
  color: #505050;
  text-align: center;
  margin: 50px auto 40px auto;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 700;
}


@media screen and (min-width: 1050px) {
  .loginContainer{    
    height: calc(100vh - 60px);
  }  
}

@media screen and (min-width: 1650px) {
  .greetingsLogin{    
    margin: 80px auto 130px auto;
    font-size: 22px;    
  }  
}
