.navMenu{
  width: 100%;
  height: 100%;
  background-color: black !important;
  overflow-y: hidden;
}

.menuItemsDesktop{
  display: flex;
  align-items: center;  
}

.logoDesktop{
  position: relative;      
  width: 50px;
  height: 50px;
}

.menuOptionsDesktop{
  display: flex;
  justify-content: center;
  width: 100px;
  color: #c2c2c2 !important;
}

.loginHeaderLabelDesktop {
  position: relative;
  z-index: 1;
  width: fit-content;
  height: fit-content;
  top: 0px;
  right: 0;
  color: #c2c2c2;
  font-weight: 400;
  cursor: pointer;
}






