.menuMobileContainer{  
  background-color: black !important;
}

.togglerButtonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 40px;
  border: 1px solid #4c4c4c;
}

.hamburgerIcon{  
  width: 42px;
  height: 30px;
  color: white;
}


