.form-container {
  display: flex;
  position: relative;
  flex-flow: column;
  overflow: visible;
  margin: 120px auto 40px auto;
  width: 100%;
  max-width: 440px;
  height: 290px; 
  justify-content: center;
  align-items: center;  
  user-select: none;
  border-radius: 30px;  
  background-color: #fcec04;
  padding: 0 25px;
  box-shadow: 3px 3px 8px 0px #395173;
}

.formMainIconContainer{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00264D;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: -55px;
}

.formMainIcon{
  color: white;
  width: 40px;
  height: 40px;
}


form {
  width: 100%;
  height: fit-content;
  border: none;
}

.inputContainer{
  display: flex;
  flex-direction: row;
  height: 45px;
  width: 100%;
  border-radius: 8px;  
}

.inputContainerUserName{
  margin-top: 10px;
}

.inputIconContainer{
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 60px;
  height: 100%;
  background-color:#00264D;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

input {
  display: block;
  border: none;  
  background: none;
  background-color: #395173;
  color: white;  
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 300;
  padding-left: 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.inputIcon{
  margin: auto;
  color: white;
  width: 35px;
  height: 35px;  
}

.inputAlerts {
  display: flex;
  align-items: flex-start;
  color: #ff0400;
  font-size: 14px;
  height: 23px;
  width: 100%;  
}

.submit-btn {
  display: block;
  cursor: pointer;
  border: none;
  margin: 10px auto 0 auto;
  width:  100%;
  height: 45px;
  border-radius: 8px;  
  background: #395173;
  color: rgba(255, 255, 255, 0.8);  
  font-size: 27px;
  font-weight: 300; 
}

input:focus-visible {
  outline: none;
}

input::placeholder{
  color:#c2c2c2;
} 

.createAccountLink{
  text-decoration: underline;
  font-size: 14px;
  margin-top: 5px;
  color: #395173;
  cursor: pointer;
}

.createAccountLink:visited{
  color:#395173;
}

.createAccountLink:hover{
  color:#395173;
}



@media screen and (min-width: 768px) {
  .form-container{
    padding: 0 20px;
    height: 260px;
    max-width: 440px;
    margin: 50px auto 20px auto;
  }

  .inputContainer{
    height: 35px;
    
  }

  .inputIconContainer{
    width: 35px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .inputIcon{
    width: 20px;
    height: 20px;
  }

  input{
    font-size: 18px;
    padding-left: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .formMainIconContainer{
    top: -40px;
    width: 80px;
    height: 80px;
  }

  .formMainIcon{
    width: 40px;
    height: 40px;
  }

  .submit-btn{
    height: 35px;
    border-radius: 8px;
    font-size: 20px;
  }

  .inputContainerUserName{
    margin-top: 55px;  
  }

  .createAccountLink{    
    font-size: 16px;    
  }
}

@media screen and (min-width: 1650px) {
  .form-container{
    padding: 0 20px;
    height: 360px;
    max-width: 570px;
    margin: 50px auto 20px auto;
  }

  .inputContainer{
    height: 60px;
    
  }

  .inputIconContainer{
    width: 60px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .inputIcon{
    width: 30px;
    height: 30px;
  }

  input{
    font-size: 27px;
    padding-left: 25px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .formMainIconContainer{
    top: -50px;
    width: 150px;
    height: 150px;
  }

  .formMainIcon{
    width: 80px;
    height: 80px;
  }

  .submit-btn{
    height: 45px;
    border-radius: 8px;
  }

  .inputContainerUserName{
    margin-top: 55px;  
  }


}

