.form-container {
  display: flex;
  position: relative;
  flex-flow: column;
  overflow: visible;
  margin: 120px auto;
  width: 100%;
  max-width: 570px;
  height: 420px; 
  justify-content: center;
  align-items: center;  
  user-select: none;
  border-radius: 50px;
  background-color: #C2B9CC;
  padding: 0 60px;
  box-shadow: 3px 3px 8px 0px #395173;
}

.formMainIconContainer{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00264D;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  top: -100px;
}

.formMainIcon{
  color: white;
  width: 100px;
  height: 100px;
}


form {
  width: 100%;
  height: fit-content;
  border: none;
}

.inputContainer{
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  border-radius: 8px;  
}

.inputContainerUserName{
  margin-top: 100px;
}

.inputIconContainer{
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 70px;
  height: 100%;
  background-color:#00264D;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

input {
  display: block;
  border: none;  
  background: none;
  background-color: #395173;
  color: white;  
  width: 100%;
  height: 100%;
  font-size: 27px;
  font-weight: 300;
  padding-left: 25px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.inputIcon{
  margin: auto;
  color: white;
  width: 50px;
  height: 50px;  
}

.inputAlerts {
  display: flex;
  align-items: flex-start;
  color: #ff0400;
  font-size: 14px;
  height: 23px;
  width: 100%;  
}

.submit-btn {
  display: block;
  cursor: pointer;
  border: none;
  margin: auto;
  width:  100%;
  height: 70px;
  border-radius: 20px;  
  background: #395173;
  color: rgba(255, 255, 255, 0.8);  
  font-size: 27px;
  font-weight: 300; 
}

input:focus-visible {
  outline: none;
}

input::placeholder{
  color:#c2c2c2;
} 

.createAccountLink{
  text-decoration: underline;
  font-size: 19px;
  margin-top: 10px;
  color:#967026;
}

.createAccountLink:visited{
  color:rgba(255, 255, 255, 0.8);
}


@media screen and (max-width: 570px) {
  .form-container{
    padding: 0 20px;
    height: 300px;
  }

  .inputContainer{
    height: 45px;
    
  }

  .inputIconContainer{
    width: 45px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .inputIcon{
    width: 30px;
    height: 30px;
  }

  input{
    font-size: 20px;
    padding-left: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .formMainIconContainer{
    top: -50px;
    width: 90px;
    height: 90px;
  }

  .formMainIcon{
    width: 50px;
    height: 50px;
  }

  .submit-btn{
    height: 45px;
    border-radius: 8px;
  }

  .inputContainerUserName{
    margin-top: 55px;  
  }


}