* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;  
  overflow-x: visible;
  font-family: poppins;
}

.hidden{
  display: none;
}

.my-popup-class {
  overflow-y: hidden;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}
